@import "https://unpkg.com/open-props";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: var(--gradient-23);
  }
  
  main {
    width: 650px;
   margin: 0 auto 0 auto;
   padding: 32px;
   text-align: center;
   font-family: 'Press Start 2P';
   background: var(--cyan-0);
   border-radius: var(--radius-3)
   }

figure {
    font-size: 10px;
    line-height: 16px;

}
  
  audio {
    width: 100%;
  }

  audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: var(--cyan-0);
     color: #000;
     }
  
  h1 {
    text-align: center;
    font-family: 'Comico', cursive;
    }
  
  h1:hover {
    animation: var(--animation-ping);
  }
  
  h1 a {
    color: var(--gray-6);
    text-decoration: none;
  }
  
span:hover {
  display: inline-block;
  animation: var(--animation-pulse);
}

/* Scrolling Text */
#scroll-container {
  
  height: 850px;
  overflow: hidden;
}

#scroll-text {
  height: 100%;
  text-align: center;
  
  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  
  -moz-animation: my-animation 5s linear infinite;
  -webkit-animation: my-animation 5s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateY(100%); }
  to { -moz-transform: translateY(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

  
  