@import "https://unpkg.com/open-props";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: var(--gradient-23);
  }
  
  main {
    width: 575px;
   margin: 0 auto 0 auto;
   padding: 32px;
   text-align: center;
   font-family: 'Press Start 2P';
   background: blanchedalmond;
   border-radius: var(--radius-3)
   }

figure {
    font-size: 10px;
    line-height: 16px;

}
  
  audio {
    width: 100%;
  }
  
  h1 {
    text-align: center;
    font-family: 'Comico', cursive;
    }
  
  h1:hover {
    animation: var(--animation-ping);
  }
  
  h1 a {
    color: var(--gray-6);
    text-decoration: none;
  }
  
span:hover {
  display: inline-block;
  animation: var(--animation-pulse);
}

  
  